#cv {
  display: flex;
  flex-direction: column;

  .link-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: $color-4;
    font-weight: bolder;
    max-width: 400px;
    
    &:hover {
      background-color: $color-1;
    }

    &:active {
      // background-color: $color-1;
      // box-shadow: 0 5px $color-1;
      transform: translateY(4px);
    }
  }
}