@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}


$font-1: "Montserrat", sans-serif;
$font-2: "font-2", sans-serif;

$color-1: #f9f7f5;
$color-2: #C9886D;
$color-3: #a55532;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-1;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

